<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="co.introtuce.nex2me.test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Performance"></activity>
        <activity
            android:name=".ui.CollingAct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModelRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModelTestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".rtc.LiveNow" />
        <activity android:name=".rtc.SecondaryActivity" />
        <activity android:name=".rtc.JoinSessionActivity" />
        <activity android:name=".rtc.PrimaryScreenActivity" />
        <activity android:name=".rtc.CreateMeetingActivity" />
        <activity android:name=".RTCHomeActivty">

            <!-- //Intent Filter Was Here -->
        </activity>
        <activity android:name=".analytics.YoutubeDemo" />
        <activity android:name=".analytics.accelerate.utils.Camera2TestActivty" />
        <activity android:name=".analytics.accelerate.NewImIn" />
        <activity
            android:name=".analytics.accelerate.SegmentTesterAct"
            android:exported="true" />
        <activity android:name=".VideoDisplayActivity" />
        <activity
            android:name=".ImInActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <provider
            android:name=".fileManager.GenericFileProvider"
            android:authorities="co.introtuce.nex2me.test.fileManager"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".analytics.sensors.ShakerService" />

        <receiver
            android:name=".analytics.sensors.MyAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".analytics.sensors.Autostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>